
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f1d20d, #e61313);
  color: rgb(242, 240, 240);
}

.container {
  text-align: center;
  padding: 20px;
}

.color-text {
  color: #131313;
  font-size: 2rem;
}

.profile-img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.education-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.animated-img {
  width: 150px;
  height: auto;
  margin: 20px 0;
  animation: fadeIn 2s ease-in-out;
}

.info-left, .info-right {
  display: inline-block;
  width: 45%;
  text-align: left;
  vertical-align: top;
}

#next-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #1ac2e8;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

#next-button:hover {
  background-color: #ed17c9;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
